:root{
    /*RED*/
    --red-0:#FFEBEE;
    --red-1:#FFCDD2;
    --red-2:#EF9A9A;
    --red-3:#E57373;
    --red-4:#EF5350;
    --red-5:#F44336;
    --red-6:#E53935;
    --red-7:#D32F2F;
    --red-8:#C62828;
    --red-9:#B71C1C;

    /*BLUE 004963*/
    --blue-0:#E3F2FD;
    --blue-1:#BBDEFB;
    --blue-2:#90CAF9;
    --blue-3:#64B5F6;
    --blue-4:#42A5F5;
    --blue-5:#2196F3;
    --blue-6:#1E88E5;
    --blue-7:#1976D2;
    --blue-8:#1565C0;
    --blue-9:#0D47A1;
    --lblue-0: #e8f0fe;
    --dblue-0: #28303e;

    /*CYAN*/
    --cyan-0:#E0F7FA;
    --cyan-1:#B2EBF2;
    --cyan-2:#80DEEA;
    --cyan-3:#4DD0E1;
    --cyan-4:#26C6DA;
    --cyan-5:#00BCD4;
    --cyan-6:#00ACC1;
    --cyan-7:#0097A7;
    --cyan-8:#00838F;
    --cyan-9:#006064;
    --teal-0:#E0F2F1;
    --teal-1:#B2DFDB;
    --teal-2:#80CBC4;
    --teal-3:#4DB6AC;

    /*GREEN*/
    --green-0:#E8F5E9;
    --green-1:#C8E6C9;
    --green-2:#A5D6A7;
    --green-3:#81C784;
    --green-4:#66BB6A;
    --green-5:#4CAF50;
    --green-6:#43A047;
    --green-7:#388E3C;
    --green-8:#2E7D32;
    --green-9:#1B5E20;

    /*YELLOW*/
    --yellow-0:#FFFDE7;
    --yellow-1:#FFF9C4;
    --yellow-2:#FFF59D;
    --yellow-3:#FFF176;
    --yellow-4:#FFEE58;
    --yellow-5:#FFEB3B;
    --yellow-6:#FDD835;
    --yellow-7:#FBC02D;
    --yellow-8:#F9A825;
    --yellow-9:#F57F17;
    --orange-2:#FFCC80;

    /*GREY*/
    --grey-0:#FAFAFA;
    --grey-1:#F5F5F5;
    --grey-2:#EEEEEE;
    --grey-3:#E0E0E0;
    --grey-4:#BDBDBD;
    --grey-5:#9E9E9E;
    --grey-6:#757575;
    --grey-7:#616161;
    --grey-8:#424242;
    --grey-9:#212121;
}

.bg-cyan-0{background-color: var(--cyan-0);}
.bg-cyan-1{background-color: var(--cyan-1);}
.bg-cyan-2{background-color: var(--cyan-2);}
.bg-cyan-3{background-color: var(--cyan-3);}
.bg-cyan-4{background-color: var(--cyan-4);}
.bg-cyan-5{background-color: var(--cyan-5);}
.bg-cyan-6{background-color: var(--cyan-6);}
.bg-cyan-7{background-color: var(--cyan-7);}
.bg-cyan-8{background-color: var(--cyan-8);}
.bg-cyan-9{background-color: var(--cyan-9);}

.bg-teal-0{background-color: var(--teal-0)}
.bg-teal-1{background-color: var(--teal-1)}
.bg-teal-2{background-color: var(--teal-2)}
.bg-teal-3{background-color: var(--teal-3)}

.bg-grey-0{background-color: var(--grey-0);}
.bg-grey-1{background-color: var(--grey-1);}
.bg-grey-2{background-color: var(--grey-2);}
.bg-grey-3{background-color: var(--grey-3);}
.bg-grey-4{background-color: var(--grey-4);}
.bg-grey-5{background-color: var(--grey-5);}
.bg-grey-6{background-color: var(--grey-6);}
.bg-grey-7{background-color: var(--grey-7);}
.bg-grey-8{background-color: var(--grey-8);}
.bg-grey-9{background-color: var(--grey-9);}

.bg-red-0{background-color: var(--red-0);}
.bg-red-1{background-color: var(--red-1);}
.bg-red-2{background-color: var(--red-2);}
.bg-red-3{background-color: var(--red-3);}
.bg-red-4{background-color: var(--red-4);}
.bg-red-5{background-color: var(--red-5);}
.bg-red-6{background-color: var(--red-6);}
.bg-red-7{background-color: var(--red-7);}
.bg-red-8{background-color: var(--red-8);}
.bg-red-9{background-color: var(--red-9);}

.bg-blue-0{background-color: var(--blue-0);}
.bg-blue-1{background-color: var(--blue-1);}
.bg-blue-2{background-color: var(--blue-2);}
.bg-blue-3{background-color: var(--blue-3);}
.bg-blue-4{background-color: var(--blue-4);}
.bg-blue-5{background-color: var(--blue-5);}
.bg-blue-6{background-color: var(--blue-6);}
.bg-blue-7{background-color: var(--blue-7);}
.bg-blue-8{background-color: var(--blue-8);}
.bg-blue-9{background-color: var(--blue-9);}

.bg-green-0{background-color: var(--green-0);}
.bg-green-1{background-color: var(--green-1);}
.bg-green-2{background-color: var(--green-2);}
.bg-green-3{background-color: var(--green-3);}
.bg-green-4{background-color: var(--green-4);}
.bg-green-5{background-color: var(--green-5);}
.bg-green-6{background-color: var(--green-6);}
.bg-green-7{background-color: var(--green-7);}
.bg-green-8{background-color: var(--green-8);}
.bg-green-9{background-color: var(--green-9);}

.bg-yellow-0{background-color: var(--yellow-0);}
.bg-yellow-1{background-color: var(--yellow-1);}
.bg-yellow-2{background-color: var(--yellow-2);}
.bg-yellow-3{background-color: var(--yellow-3);}
.bg-yellow-4{background-color: var(--yellow-4);}
.bg-yellow-5{background-color: var(--yellow-5);}
.bg-yellow-6{background-color: var(--yellow-6);}
.bg-yellow-7{background-color: var(--yellow-7);}
.bg-yellow-8{background-color: var(--yellow-8);}
.bg-yellow-9{background-color: var(--yellow-9);}

.text-cyan-0{color: var(--cyan-0);}
.text-cyan-1{color: var(--cyan-1);}
.text-cyan-2{color: var(--cyan-2);}
.text-cyan-3{color: var(--cyan-3);}
.text-cyan-4{color: var(--cyan-4);}
.text-cyan-5{color: var(--cyan-5);}
.text-cyan-6{color: var(--cyan-6);}
.text-cyan-7{color: var(--cyan-7);}
.text-cyan-8{color: var(--cyan-8);}
.text-cyan-9{color: var(--cyan-9);}

.text-grey-0{color: var(--grey-0);}
.text-grey-1{color: var(--grey-1);}
.text-grey-2{color: var(--grey-2);}
.text-grey-3{color: var(--grey-3);}
.text-grey-4{color: var(--grey-4);}
.text-grey-5{color: var(--grey-5);}
.text-grey-6{color: var(--grey-6);}
.text-grey-7{color: var(--grey-7);}
.text-grey-8{color: var(--grey-8);}
.text-grey-9{color: var(--grey-9);}

.text-red-0{color: var(--red-0);}
.text-red-1{color: var(--red-1);}
.text-red-2{color: var(--red-2);}
.text-red-3{color: var(--red-3);}
.text-red-4{color: var(--red-4);}
.text-red-5{color: var(--red-5);}
.text-red-6{color: var(--red-6);}
.text-red-7{color: var(--red-7);}
.text-red-8{color: var(--red-8);}
.text-red-9{color: var(--red-9);}

.text-blue-0{color: var(--blue-0);}
.text-blue-1{color: var(--blue-1);}
.text-blue-2{color: var(--blue-2);}
.text-blue-3{color: var(--blue-3);}
.text-blue-4{color: var(--blue-4);}
.text-blue-5{color: var(--blue-5);}
.text-blue-6{color: var(--blue-6);}
.text-blue-7{color: var(--blue-7);}
.text-blue-8{color: var(--blue-8);}
.text-blue-9{color: var(--blue-9);}

.text-green-0{color: var(--green-0);}
.text-green-1{color: var(--green-1);}
.text-green-2{color: var(--green-2);}
.text-green-3{color: var(--green-3);}
.text-green-4{color: var(--green-4);}
.text-green-5{color: var(--green-5);}
.text-green-6{color: var(--green-6);}
.text-green-7{color: var(--green-7);}
.text-green-8{color: var(--green-8);}
.text-green-9{color: var(--green-9);}

.text-yellow-0{color: var(--yellow-0);}
.text-yellow-1{color: var(--yellow-1);}
.text-yellow-2{color: var(--yellow-2);}
.text-yellow-3{color: var(--yellow-3);}
.text-yellow-4{color: var(--yellow-4);}
.text-yellow-5{color: var(--yellow-5);}
.text-yellow-6{color: var(--yellow-6);}
.text-yellow-7{color: var(--yellow-7);}
.text-yellow-8{color: var(--yellow-8);}
.text-yellow-9{color: var(--yellow-9);}