/* SCROLL */
  .h-scroll-style::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  .h-scroll-style::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }
  .h-scroll-style::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 31px;
  }  
  .body-scroll::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
  }
  .body-scroll::-webkit-scrollbar-thumb {
    background: var(--teal-2);
    border-radius: 25px;
  }
  .body-scroll::-webkit-scrollbar-track {
    background: var(--teal-0);
  }  
  .overflow-y{
    overflow-y:scroll;
  }
  .overflow-y-none{
    overflow-y: hidden;
  }
  .scroll-all{
    overflow: scroll;
  }